body {
    margin: 0;
    font-family: Arial,sans-serif;
    background: linear-gradient(135deg, #1c1c1c, #2c2c2c);
    color:white;
    padding: 10px;
}

h1 {
    text-align: center;
}

.games{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 230px;
    background: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.card__title {
    margin: 0;
    font-size: 20px;
}

.card__status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    width: fit-content;
}

.card__date {
    font-size: 12px;
    color: #aaa;
}


.search {
    display:flex;
    justify-content: center;
    gap:15px;
    margin-bottom: 22px;
    padding: 20px 20px;
}

.search input {
    padding: 12px 15px;
    border-radius: 7px;
    border: none;
    width: 300px;
    font-size: 16px;
}


.search button {
    cursor:pointer;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    background: rgb(216, 159, 52);
    padding: 12px 24px;
    border: none;
    transition: 0.3s;
}

.empty-msg {
    font-size: 30px;
    color: #aaa;
    text-align: center;
    height: 100px;
    margin-top: 40px;
}

.search button:hover {
    opacity: 0.8;
    background: #ff8c00;
}


.header {
    padding: 20px;
    border-bottom: 2px solid  gray ;
    text-align: center;
}

.header_title {
    margin: 0px;
    font-size: 28px;
}

.status-done {
    background: #2ecc71;
    color: #fff;
}

.status-playing {
    background: #f39c12;
    color: #fff;
}

@media (max-width: 600px) {
    .games {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .search {
        flex-direction: column;
        align-items: center;
    }

    .search input {
        width: 90%;
    }
}